* {
  margin: 0;
  padding: 0;
}
.chipHeader {
  background-color: white !important;
  color: black;
}
.MuiSelect-select {
  border: none !important;
  padding: 0 !important;
  color: white !important;
}
.toggleTheme {
  position: fixed !important;
  right: 3rem;
  bottom: 3rem;
}
.myMovieInput {
  margin-right: 10px !important;
}
.movieChip {
  margin-right: 10px !important;
}
.btnLogin {
  background-color: white !important;
  color: black;
}
